backend/microservices/data_local/_public/pruebas_analisis/
backend/microservices/pruebas_ocr/
backend/microservices/__pycache__/
backend/microservices/data_local/_public/fotos/
backend/microservices/data_local/_public/pruebas_ocr/
serviceAccountKey.json
backend/microservices/data_local/
__pycache__/
*.pyc
__pycache__/
*.pyc
/.venv/
*.pkl
backend/orquestador/terapia-471517-8474c5fd5787.json