backend/microservices/data_local/_public/pruebas_analisis/
backend/microservices/pruebas_ocr/
backend/microservices/__pycache__/
backend/microservices/data_local/_public/fotos/
backend/microservices/data_local/_public/pruebas_ocr/
