@tailwind base;
@tailwind components;
@tailwind utilities;

/* (optional) small tweak so Material Symbols align nicely */
.material-symbols-outlined { font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24; }
