fastapi>=0.110,<1.0
uvicorn[standard]>=0.27
httpx>=0.24
pydantic>=2.6
python-multipart>=0.0.9
firebase-admin>=6.5.0
google-cloud-vision>=3.4.4
google-cloud-storage>=3.4.1
vertexai>=0.0.1
google-cloud-firestore>=2.21.0
google-cloud-bigquery>=3.10.0
fpdf2>=2.7.0
weasyprint
jinja2
google-auth>=2.20.0